body,html{overflow-x:hidden;height:100%}
body{
    font-size:12px;
    font-family:"Microsoft YaHei", "sans-serif";
    color:#5d5d5d;
    line-height:1.5
}
body,ul,ol,li,dl,dt,dd,form{
    padding:0;
    margin:0;
    list-style:none;
}
input{font-family:"Microsoft YaHei", "sans-serif"}
a{color:#5d5d5d;text-decoration:none}
img{border:0}
input,button,select,textarea{outline:0}
a:hover{color:#111;text-decoration:none}
label{color:#999}

.ifly-loginbox{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.ifly-copy{
    bottom:20px;
    left:0;
    position:fixed;
    color:#fff;
    text-indent:20px;
    opacity:.7;
}
.ifly-loginbox-transform{
    position:absolute;
    top:50%;
    width:100%
}
.ifly-loginbox-logo{
    height:50px;
    background:url(../image/ifly-login-logo.png) no-repeat 50% 0;
    margin:0 0 30px
}
.ifly-loginbox-input{
    width:340px;
    margin:0 auto 15px;
    
    border-radius:2px
}

.ifly-loginbox-input .iflytopic{
    line-height:45px;
    text-align:center;
    font-size:15px;
    color:#222
}
.ifly-loginbox-input dd{
    border-bottom:1px solid #dedede
}
.ifly-loginbox-input dd i{
    margin:0 0 0 0;
    width:20px;
    height:20px;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
}
.ifly-loginbox-input dd i.ifly-password{
    background-position:0 -44px
}
.ifly-loginbox-input dd i.ifly-vc{
    background-position:0 -82px
}
.ifly-loginbox-input dd:hover i{
    background-position:-21px 0
}
.ifly-loginbox-input dd:hover i.ifly-password{
    background-position:-21px -44px
}
.ifly-loginbox-input dd:hover i.ifly-vc{
    background-position:-21px -82px
}
.ifly-loginbox-input dd{
    padding:0 20px;
}
.ifly-loginbox-input .ifly-input{
	height:45px;
    line-height:45px;
	width:90%;
    font-size:14px;
    color:#222;
    border:0;
    background-color:transparent;
    font-family: Verdana;
}
.ifly-loginbox-input .ifly-changepwd{
    line-height:45px;
    color:#222;
    text-align:right;
    padding-right:20px
}
.ifly-loginbox-input dd.ifly-vc .ifly-input{
	width:35%
}
.ifly-loginbox-input .ifly-vc img{
	vertical-align:middle
}
.ifly-loginbox-input .ifly-checkbox {
    vertical-align: -2px;
}
.ifly-loginbox-btn{
    margin:0 auto;
}
.ifly-loginbox-btn .ifly-btn{
    width:100%;
    height:45px;
    color:#fff;
    font-size:15px;
    text-align:center;
    background:#4080FF;
    border:0;
    border-radius:2px;
    transition:all 0.2s linear 0s;
    cursor:pointer;
}
.ifly-loginbox-btn .ifly-btn:hover{
    /* background:#10aadc; */
    background:rgba(64,128,255,.5)
}
.iflyui-tips-box-wrap{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    position:absolute \9;
}
/*加载*/
.iflyui-tips-box{
    position:relative;
    right:-20%;
    text-align:center;
    display:inline-block;
    *display:inline;
    zoom:1;
    color:#fff;
    border-radius:3px;
    margin:0 auto;
    padding:18px;
    width:85px;
    align-self: center;
    background:rgba(0,0,0,.7);
	background:url(../image/iflyui-tips-box-bg.png)\9;
    font-size:12px;
    animation:iflyui-bounceIn .2s linear;
    opacity:1;
    z-index:666666;
    right:-66% \9;
    top:44% \9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .iflyui-tips-box{
        right:-20%;
        top:0;
    }
}
@keyframes iflyui-bounceIn{
    0% {
        opacity: 0;
        margin-top:10px
    }
    100% {
        opacity: 1;
    }
}
.iflyui-tips-box .iflyui-icon-warning{
    background:url(../image/iflyui-icon-warning.png) no-repeat;
    width:32px;
    height:32px;
    margin:0 auto 10px;
}

/*低版本浏览器提示*/
.iflyui-ie{
	position:relative;
    background:#fff;
	border:1px solid #eee;
    width:100%;
    color:#f00;
    padding:10px;
    text-align:center;
    z-index:310;
    font-size:14px
}
.iflyui-ie i{
	display:inline-block;
	margin:0 1em;
	width:25px;
	height:25px;
	line-height:25px;
	border:1px solid #eee;
	background:#fff;
	text-align:center;
	font-size:16px;
	color:#111;
	font-weight:normal;
	font-style:normal;
	cursor:pointer
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #efefef inset !important;
}
.iflyui-tips-box{background:#444}
.ifly-loginbox{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    display: flex;
}
.ifly-loginbox .ifly-loginbox-con{
    position: relative;
    top: inherit;
    right: -30%;
    transform: inherit;
    margin: 0 auto;
    align-self: center;
    top:20% \9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ifly-loginbox .ifly-loginbox-con{
        top:0;
    }
}
.ifly-loginbox-input dd{
    padding: 0 50px;
    border: none;
}

.ifly-loginbox-input .iflytopic, .ifly-login-checkword .iflytopic{
    padding: 0 103px 0 122px;
}

.ifly-login-checkword dd{
    padding:0 50px;
    /* border-bottom:1px solid #dedede */
}
.ifly-login-checkword dd i.icon-mima{
    font-size: 18px;
    color: #8f8f8f;
    line-height: 18px;
}
.ifly-login-checkword dd .getcheckword{
    position: absolute;
    border: none;
    color: #4080FF;
    right: 50px;
    margin-top: 41px;
    cursor: pointer;
    background: #fff;
}
.ifly-loginbox-btn{
    margin: 55px 50px 0;
    height:48px;
    border-radius:24px;
}
.ifly-loginbox-btn .ifly-btn{
    border-radius: 22px;
    background:rgba(64,128,255,1);
}

.ifly-login-checkword dt .ifly-login-by-password{
    height: 45px;
    line-height: 45px;
}
.change-scanImg-login, .change-password-login{
    width: 100%;
    padding-left: 266px;
    box-sizing: border-box;
}
.change-scanImg-login .login-byscanImg, .login-byscanImg-incheckword, .login-bypassword{
    float: right;
}
.change-scanImg-login .login-tip, .change-scanImg-login .login-tip-checkword, .change-password-login .login-tip-scanImg{
    background:#4080FF;
    width: 89px;
    height: 29px;
    background: linear-gradient(263deg,rgba(121,140,255,1) 0%,rgba(68,109,255,1) 100%);
    border-radius: 15px 2px 15px 15px;
    opacity:0.9;
    margin-top: 16px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.change-scanImg-login .login-tip span{
    color: #fff;
}

.ifly-loginbox-input{
    display: none;
}
/* 账号密码登录 */
.ifly-loginbox-input.active{
    display: block;
}
.ifly-loginbox-input,.ifly-login-checkword,.ifly-login-scanImg{
    position: relative;
    width: 424px;
    min-height: 440px;
    box-shadow: 0px 2px 13px 0px rgb(0 0 0 / 20%);
    border-radius: 6px;
    box-sizing: border-box;
}
.ifly-loginbox-input .iflytopic .ifly-login-by-password a,
.ifly-login-checkword .iflytopic .ifly-login-by-checkkeyword a{
    padding:0 0 10px;
    font-weight:bold;
    color: #4080FF;
    font-size: 18px;
    line-height: 25px;
    background: url('../image/ifly-line.png') no-repeat 50% bottom;
}
.ifly-loginbox-input .iflytopic .ifly-login-by-checkkeyword a,
.ifly-login-checkword .iflytopic .ifly-login-by-password a
{
    font-weight:bold;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
}
.ifly-username, .ifly-password, .checkbox, #divConfirm{
    height: 70px;
}
.ifly-username input,.ifly-password input,.checkbox input,#divConfirm input{
    margin-top: 41px;
}
.bottom-line{
    height: 1px;
    background: #dedede;
    margin-top: 10px;
}
.ifly-login-checkword dd i{
    margin:0 0 0 0;
    width:20px;
    height:20px;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
}
.ifly-password{
    position: relative;
}
.ifly-loginbox-input dd .showPassw{
    width: 18px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 62px;
    top: 41px;
}
.iflytopic{
    position: relative;
}
.line-mima{
    height: 3px;
    width: 32px;
    background: #4080FF;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 142px;
}
.ifly-loginbox-input dd .showPassw i.xiaoyanjing{
    display: block;
    width: 18px;
    height: 18px;
    background: url('../image/icon-xiaoyanjing-bi.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.ifly-loginbox-input dd .showPassw i.xiaoyanjing.active{
    background: url('../image/icon-xiaoyanjing-zheng.png');
    background-position: center;
    background-size: cover;
}


.ifly-login-checkword .ifly-input,
.ifly-loginbox-input .ifly-input{
    height: 20px;
    line-height: 20px;
    width:85%;
    font-size:14px;
    color:#222;
    border:0;
    background-color:transparent;
    font-family: Verdana;
}
.ifly-loginbox-input .ifly-login-by-password,
.ifly-loginbox-input .ifly-login-by-checkkeyword,
.ifly-login-checkword .ifly-login-by-password,
.ifly-login-checkword .ifly-login-by-checkkeyword,
.ifly-login-scanImg .ifly-login-by-password,
.ifly-login-scanImg .ifly-login-by-checkkeyword
{
    line-height:25px;
    color:#222;
    text-align:right;
}
.ifly-loginbox-input .ifly-login-by-password,
.ifly-login-checkword .ifly-login-by-password{
    margin-right: 32px;
}
.ifly-loginbox-input dd .getCode{
    position: absolute;
    border: none;
    color: #4080FF;
    right: 50px;
    top: 41px;
    cursor: pointer;
    background: #fff;
}
#divConfirm{
    position: relative;
}

/* 验证码登录 */
.ifly-login-checkword.active{
    display: block;
}
.checkwordlogin{
    border: none;
    width: 100%;
    height: 45px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background: #4080FF;
    border: 0;
    border-radius: 2px;
    transition: all 0.2s linear 0s;
    cursor: pointer;
}
#formcheckword{
    display: none;
}
.ifly-login-checkword {
    display: none;
    margin:0 auto 15px;
    background:#efefef;
    border-radius:6px
}
.ifly-login-checkword  .iflytopic, .ifly-login-scanImg .iflytopic{
    line-height:45px;
    text-align:center;
    font-size:15px;
    color:#222;
}
.checktip1,.checktip{
    position: absolute;
    display: none;
    width: 340px;
    color: #FF6C00;
    padding-left: 50px;
    bottom: -30px;
    left: 0px;
}
/* 二维码登录 */
.ifly-login-scanImg.active{
    display: block;
}
#formcheckword{
    display: none;
}
.ifly-login-scanImg{
    display: none;
    margin:0 auto 15px;
    background:#fff;
    border-radius:6px
}
.ifly-login-scanImg .iflytopic{
    width: 129px;
    height: 46px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(23,23,23,1);
    margin: 0 auto 7px;
}
.ifly-login-scanImg .iflytopic div span:nth-child(2){
    color:#4080FF;
}
.ifly-login-scanImg .iflytopic span{
	color:rgba(23,23,23,1)
}
/* 二维码放图片 */
.qrcode-img{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding:8px;
    border:2px solid #111;
    border-radius:5px;
    box-sizing: border-box;
    margin: auto;
    z-index: 2;
    background:#fff url("../image/logo.png") no-repeat 50% 50%;
    background-size: 30px;
}
.entry-logo-img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
/* 二维码放图片 */
.ifly-login-scanImg dd .scanImgcon{
    width: 186px;
    height: 186px;
    margin: 0 auto;
    position: relative;
}
.ifly-login-scanImg dd .scanImgcon #qrcode{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 186px;
    height: 186px;
}
.ifly-login-scanImg dd .scanImgcon #qrcode-invaild{
    display: none;
    width: 186px;
    height: 186px;
    line-height: 126px;
    text-align: center;
    background: rgba(255,255,255,.9);
    padding: 30px 0;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.ifly-login-scanImg dd .scanImgcon #qrcode-invaild span {
    color: #222;
}
.ifly-login-scanImg .login-qrcode-invalid{
    height: 45px;
}
.login-qrcode-invalid{
    text-align: center;
}
.login-qrcode-invalid .scanMeLogin{
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(23,23,23,1);
	line-height:20px;
}
.login-qrcode-invalid .needRefresh{
    border: none;
    color: #4080FF;
    font-size: 14px;
}

/* 切换登录方式 */
.change-scanImg-login,.change-password-login{
    /*position: relative;*/
    position: absolute;
    top: 0;
    right: 0;
}
.login-byscanImg{
    width: 61px;
    height: 61px;
    background: url("../image/login-scanImg.png") no-repeat;
}
.login-byscanImg-incheckword{
    width: 61px;
    height: 61px;
    background: url("../image/login-scanImg.png") no-repeat;
}
.login-byscanImg-incheckword:hover{
    cursor: pointer;
}
/* .login-byscanImg-incheckword.toogle{
    width: 0;
    height: 0;
    border-bottom: 61px solid #efefef;
    border-right: 61px solid transparent;
} */

.login-byscanImg:hover,.login-tip:hover,.login-tip-checkword:hover{
    cursor: pointer;
}
.login-bypassword{
    width: 61px;
    height: 61px;
    background: url("../image/login-password.png") no-repeat;

}
.login-bypassword:hover,.login-tip-scanImg:hover{
    cursor: pointer;
}

.ifly-loginbox-input, .ifly-login-checkword{
    padding-top: 86px;
    margin: 0 auto;
}
.ifly-login-scanImg{
    padding-top: 100px;
    margin: 0 auto;
}
dd .question{
    position: absolute;
    top: 41px;
    cursor: pointer;
}
dd #question-tipone{
    display:none;
    margin-left: 200px;
}
dd #question-tiptwo{
    display:none;
    margin-left: 200px;
}
.ifly-loginbox-input,.ifly-login-checkword, .change-scanImg-login{
	background:#fff;	
}
.change-scanImg-login{
    border-radius: 6px;
}

#username,#username1{
    box-shadow: inset 0 0 0 1000px #fff!important;
}
#qrcode{
	box-sizing: border-box;
    padding: 8px;
}
input[type="text"]::-ms-clear{display:none;}
input[type="password"]::-ms-reveal{display:none;}
.iflytopic .open-ifly{
	box-sizing: border-box;
    margin-bottom: 7px;
}
@media (max-width:420px){
		button,input[type="button"],input[type="reset"],input[type="submit"] {
			-webkit-appearance:none;
			cursor:pointer
		}
    .ifly-loginbox .ifly-loginbox-con{
        right: 0;
    }
    .ifly-loginbox-btn{
        margin: 35px 0 0;
        padding:0 20px;
        box-sizing: border-box;
    }
    .ifly-loginbox-input dd,
    .ifly-login-checkword dd {
        padding: 0 20px;
    }
    .ifly-loginbox .ifly-loginbox-con{
        width:90%
    }
    .ifly-loginbox-btn{
        width:80%
    }
    .ifly-loginbox-input .ifly-input,
    .ifly-login-checkword .ifly-input{
        box-sizing:border-box;
        width:85%
    }

    .ifly-loginbox-input, .ifly-login-checkword, .ifly-login-scanImg{
        width:100%
    }
    .change-scanImg-login, .change-password-login{
        padding-left: 52%;
    }
    .ifly-loginbox-con{
        min-height:450px;
    }
    .ifly-loginbox-input .iflytopic, .ifly-login-checkword .iflytopic{
        padding: 0 20px;
    }
		.iflyui-tips-box{
            right:0
		}
    .ifly-loginbox-input dd .showPassw{
        right:30px
    }
		.ifly-loginbox-transform{
			box-sizing:border-box;
			padding:0 5%;
		}
		.ifly-loginbox-input{
			margin-bottom:8px;
		}
		.ifly-loginbox-input,
		.ifly-loginbox-btn{
			width:100%
		}
		.ifly-loginbox-input .ifly-input{
			box-sizing:border-box;
			width:85%
		}
		.ifly-copy{
			z-index:90
		}
	}

.layui-layer .layui-layer-btn0{
    padding:0;
    margin:0;
    overflow:hidden;
    background:transparent url(../image/iflyui-icon-close.png) no-repeat;
    background-size:75%;
    border:0;
    text-indent:-999px;
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:15px;
}