/*
CSS基本介绍

1. CSS定义
    CSS(Cascading Stytle Sheet)层叠样式表,用来美化页面的一种语言

2. CSS作用
    1. 美化界面,比如设置标签文字大小,颜色,字体加粗等样式
    2. 控制页面布局,比如设置浮动,定位等样式

3. CSS的基本语法
选择器{
    样式规则
    属性名1:属性值1
    属性名2:属性值2
    属性名3:属性值3
}
选择器是用来选择标签的,选出来以后给标签加样式

4. 小结
    CSS是层叠样式表,它是用来美化网页和控制页面布局的
    定义CSS的语法格式是:选择器{样式规则}

*/

div{
    width: 100px;
    height: 100px;
    background: gold;
}